
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.bg-secondary{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.text-center{
    text-align: center;
}

/* color */
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 13px 28px;
}

/* header style */
header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    margin-bottom: 50px;
}

/* nav style */
nav{
    margin: 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner style */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 150px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}
.banner-title{
    font-size: 75px;
    margin: 0;
}
.banner-description{
    font-size: 18px;
}
.banner-profile-picture{
    width: 580px;
}

/* main tag  */
main{
    max-width: 980px;
    margin: 0 auto;
}
.section-title {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
/* about styles */
.about-me{
    border-radius: 10px;
    padding: 80px 100px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.about-item p{
    margin: 0;
}
.item-description{
    font-weight: 600;
}

/* skill style here */
.resume-section{
    margin-bottom: 100px;
}
.skill-section{
    margin: 80px 0;
}
.skills-container{
    display: flex;
    gap: 20px;
}
.skill{
    margin-top: 40px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 50px 0px rgb(209, 202, 202);
}
.skill-description{
    text-align: left;
}
/* Resume section start */
.resume-column-container{
    display: flex;
    gap: 30px;
}
.column{
    margin: 40px 0;
}
.resume-column-title{
    font-size: 30px;
}
.column-title{
    margin: 0;
    font-size: 25px;
    color: #474747;
}
.column-sub-title{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}
.column-description{
    color: #757575;
    line-height: 1.75em;
}
.resume-section .btn-download{
    margin-top: 50px;
}
/* Footer start */
footer{
    padding: 100px 0;
}
.footer-columns-container {
    display: flex;
    gap: 40px;
    max-width: 980px;
    margin: 0 auto;
}
.footer-connect-column,
.footer-submit-coloum{
    width: 50%;
}
footer .social-links{
    margin-top: 40px;
}
footer .social-links a{
    margin-right: 20px;
}
form input[type="text"],
form input[type="email"],
textarea {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    padding-left: 20px;
    color: #757575;
    outline: none;
}
textarea{
    height: 100px;
    padding-top: 20px;
    margin-bottom: 50px;
}